.gridrowfull {
    width: 100%;
}

html {
    color: $white;
    background-color: $black;
    font-weight: 300;
    line-height: 1.618;
    font-size: $basefontsizemobile;

    @media(min-width: $tablet) {
        font-size: $basefontsizetablet;
    }

    @media(min-width: $desktop) {
        font-size: $basefontsizedesktop;
    }
}

.gridrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    width: $gridwidth;
    margin: 0 auto;

    @media(min-width: $tablet) {
        width: $gridwidtht;
    }

    @media(min-width: $desktop) {
        width: $gridwidthd;
    }

    @media(min-width: $desktoplg) {
        width: $gridwidthdlg;
    }
}

@for $i from 1 through $gridcolumns {
    .col-#{$i} {
        box-sizing: border-box;
        width: percentage($i/$gridcolumns);
        padding-left: $gridgutter / 2;
        padding-right: $gridgutter / 2;
    }
}


@media (min-width: $tablet) {
    @for $i from 1 through $gridcolumns {
        .col-t-#{$i} {
            box-sizing: border-box;
            width: percentage($i/$gridcolumns);
            padding-left: $gridgutter / 2;
            padding-right: $gridgutter / 2;
        }
    }
}

@media (min-width: $desktop) {
    @for $i from 1 through $gridcolumns {
        .col-d-#{$i} {
            box-sizing: border-box;
            width: percentage($i/$gridcolumns);
            padding-left: $gridgutter / 2;
            padding-right: $gridgutter / 2;
        }
    }
}